.animation {
  position: absolute;
  z-index: 100000;
  bottom: 0;
  left: 44%; /* Position initiale sur les écrans plus larges */
  overflow: hidden;
  animation: SlideInBottom 2.5s ease-in-out 1 backwards;
}

.animation.flip {
  transform: translateX(-50%) scaleX(-1); /* Inversion horizontale pour refléter */
}

.sprite-sheet {
  display: block;
  background-size: cover; /* Pour éviter les écarts visibles */
  animation: none; /* Pas d'animation supplémentaire */
}
.static {
  display: block;
  position: absolute; /* Assure un positionnement par rapport au conteneur parent */
  bottom: 0; /* Place le bas du personnage au niveau du sol */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste le centrage exact */
  object-fit: cover;
  z-index: 100000; /* S'assure qu'il reste visible */
}
/* Media Query pour centrer le personnage sur mobile */
@media (max-width: 640px) {
  .animation {
    left: 50%; /* Centre le personnage */
    transform: translateX(-50%); /* Corrige le décalage dû à la largeur */
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .animation {
    left: 50%; /* Centre le personnage */
    transform: translateX(-50%); /* Corrige le décalage dû à la largeur */
  }
}
@keyframes SlideInBottom {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
