.arrow-controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Espacement pour éloigner les flèches des bords */
  z-index: 100000000;
  bottom: 1%;
  opacity: 0;
}

.arrow-button {
  width: 80px; /* Taille des flèches */
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
}

.left-arrow {
  background-image: url("../../public/assets/images/icons/IconArrowLeft.png");
  transform: translateX(10px);
}

.right-arrow {
  background-image: url("../../public/assets/images/icons/IconArrowRight.png");
  transform: translateX(-10px);
}

@media (max-width: 640px) {
  .arrow-controls {
    opacity: 0.8;
  }
  .arrow-button {
    user-select: none;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .arrow-controls {
    opacity: 0.8;
  }
  .arrow-button {
    user-select: none;
    -webkit-user-select: none;
  }
}
