.section-project-text {
  color: white;
  font-family: "Pixelify Sans", serif;
  font-size: 24px;
  text-align: center;
  margin: 0px;
  line-height: 150%;
}
.section-project-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  justify-content: center;
}
.section-project-button p {
  color: white;
  font-family: "Pixelify Sans", serif;
  font-size: 24px;
  text-align: center;
  margin: 10px;
  margin-bottom: 50px;
}
.button {
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: 0.2s;
}

.game path {
  color: white;
}

.button .arrow {
  position: absolute;
  right: 0;
  padding: 0px 5px;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: black;
  transition-duration: 0.2s;
}

.button:hover .arrow {
  animation: slide-right 0.6s ease-out both;
}
.link {
  text-decoration: none;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button:active {
  transform: translate(1px, 1px);
  transition-duration: 0.2s;
}
